.all{
  font-family: helvetica;
  text-align: center;
}
.image{
  position:relative;
  width: auto;
  color: white;
}
h1{
  font-size: 70px;
  font-weight: bold;
}
.pages{
  font-size: 18px;
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
}
h2{
  font-size: 32px;
  font-weight: bold;
}
.rubrik{
  font-size: 23px;
  font-weight: bold;
}
.text{
  font-size: 14px;
}
h3{
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  font-size: 23px;
  font-weight: bold;
  color:white;
}
.bottom {
  font-size: 14px;
  color white;
}
footer{
  font-size: 14px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
